.circle-btn {
    width: 200px;
    height: 200px;
    font-size: 24px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  .circle-btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  }

  .vendor-invite-label {
    font-size: 28px;
    color: #333;
    font-weight: 600;
    text-align: center;
  }
  .hovemecol:hover{
    
  
    transform: scale(1.1);
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  }

  #ainexbuy{
    margin:30px;
    margin-left: 200px;
    height:600px;
    width: auto;
    background-size: cover;
    
  }