.customer-home-container {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.overlay-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
}
